.btn {
  padding: rem(17) rem(30) rem(20);
  font-size: em(18);
  text-decoration: none;
  color: #fff;
  display: inline-block;
  transition: 250ms ease-in-out;
  position: relative;



  &--primary {
    background: #000;
    &:hover {
      transform: translateY(-2px);
      box-shadow: rgba(255, 138, 86, 0.35) 0px 5px 15px;
      color: $brand-color;
    }

    & .ripple {
      background: rgba(255,255,255,0.3);
    }
  }

  &--secondary {
    color: #000;

    .icon {
      margin-left: rem(30);
      transform: scale(1.12) translateY(rem(2));
    }
    &:hover {
      transform: translateY(-2px);
      box-shadow:#000 0 0 0 1px inset;
    }
  }
}