- var data = faq
faq.section.faq
    .container.faq__container
        h3.section__title.faq__pretitle #{data.title}
        h2.faq__title #{data.description}
        div.row.faq__items
          each val in data.items
              +faq-element('.faq__item', val)
