- var data = faq
section.section.faq
    .container.faq__container
        h3.section__title.faq__pretitle #{data.title}
        h2.faq__title #{data.description}
        div.faq__items
            - var html = ""
            each val,index in data.items
              -
                    html += faqElement('faq__item', val, index)
            | !{html}
