- var data = projects
section.section.projects
    .container.projects__container
        .row.projects__row
            .col-md-6.projects__left
                h3.section__title.projects__pretitle #{data.title}
                - var title = parseTitle(data.description, 10)
                h2.projects__title !{title}
            .col-md-6.projects__right
                +button(data.btn.href)(class='projects__btn') #{data.btn.text}
            .col-md-12.projects__body.swiper.projects__swiper-core
                .projects__swiper.swiper-wrapper
                    each val in data.items
                        +project('projects__slide swiper-slide',val)
                .projects__swiper-navigation
                    span.projects__swiper-prev.swiper-button-prev(data-effect='ripple')
                        +svgIcon('arrow-right-simple')
                    span.projects__swiper-next.swiper-button-next(data-effect='ripple')
                        +svgIcon('arrow-right-simple')
