- var data = projects
services.section.projects
    .container.projects__container
        .row.projects__row
            .col-md-6.projects__left
                h3.section__title.projects__pretitle #{data.title}
                h2.projects__title #{data.description}
            .col-md-6.projects__right
                +button(data.btn.href)(class='projects__btn') #{data.btn.text}
            .col-md-12.projects__body
                .projects__slider
                    each val in data.items
                        +project('.projects__slide',val)

