- var data = testimonials
section.section.testimonials
    .container.testimonials__container
        h3.section__title.testimonials__pretitle #{data.title}
        h2.testimonials__title #{data.description}
        .testimonials__swiper-core.swiper
            .testimonials__items.swiper-wrapper
              each val in data.items
                  +testimony('testimonials__item swiper-slide', val)
            .testimonials__navigation
                span.testimonials__swiper-prev.swiper-button-prev(data-effect='ripple')
                    +svgIcon('arrow-right-simple-white')
                span.testimonials__swiper-next.swiper-button-next(data-effect='ripple')
                    +svgIcon('arrow-right-simple-white')