.about {
  padding-top: rem(135);
  &__pretitle {
    @extend %section-pretitle;
    color: $pink;
    text-align: left;
    margin-bottom: rem(12);
  }
  &__title {
    @extend %section-title;
    text-align: left;
  }

  &__text {
    font-weight: 400;
    font-size: rem(22);
    color: $font-color-lighter;
    line-height: rem(40);
    min-width: rem(625);
    position: relative;
  }
    &__left {
      padding-left: rem(8);
      max-width:rem(590);
    }
  &__right {
    padding-left: rem(8);
    padding-top:rem(8);
  }
  &__body {
  padding-inline: 0;
  }

  & .gallery {
    padding-inline: rem(20) rem(27);

    max-height: rem(626);
    display: grid;
    margin-top: rem(94);
    grid-template-rows: rem(305) rem(305);
    grid-template-columns: 1fr rem(507) 1fr;
    gap: rem(16) rem(16);
    &__image {
      padding-inline: 0;

    }

    &__image:nth-child(1),&__image:nth-child(2)  {
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }


  &__sections {
  margin-top: rem(93);
    padding-left: 0;
    margin-left: rem(-5);
    display: flex;

    & >.about-section {
      flex: 1
    }
  }

  &__sections {
  }

  .about-section {
    position: relative;

    &:nth-child(2) {
      margin-left: rem(34);
    }

    &__logo {
      transform: translateY(rem(-8));
      margin-right: rem(20);
    }
    &__title {
      font-weight: 400;
      font-size: rem(36);
      line-height: rem(36);
    }


    &__link {
      text-decoration: none;
      color: $font-color;
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: relative;
      padding-bottom: rem(24);
      padding-left: rem(13);
      padding-top: rem(23);
      * {
        pointer-events: none;
      }
      .ripple {
        background: rgba(0,0,0,0.05);
      }
    }
    &__items {
    list-style: none;


    }

    &__item {
      max-width: rem(603);
      margin-bottom:rem(5.5);
      margin-left: rem(-40);

      position: relative;
      background: #fff;
      transition: 250ms ease-in-out;


      &:hover {
        transform: translateY(rem(-5));
        box-shadow: rgba(0,0,0,0.3) 0px 5px 15px;
        background: rgba($blue,0.03);
        z-index: 20;
        &::after {
          display: none;
        }
      }

      &-data {
        display: flex;
        align-items: center;
      }
      &-title {
        font-weight: 700;
        font-size: rem(24);
        line-height: rem(26);
        margin: 0;
        color: $font-color;
      }
      &-text {
        margin-top: rem(12);
      }

      &-description, &-date {
        font-weight: 400;
        font-size: rem(16);
        line-height: rem(21);
        color: $font-color-lighter;
      }

      &-date {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: rem(75);
        padding-top: rem(19);
      }

      &::before {
        position: absolute;
        content: '';
        top: rem(29);
        right: rem(5);
        width: rem(18);
        height: rem(18);
        transform: rotate(-45deg);
        background: url('/img/icons/icons.svg#arrow-right');
      }
      &::after {
        position: absolute;
        content: '';
       bottom: 1px;
        left: rem(15);
        width: calc(100% - 15px);
        height: 1px;
        background: #E5E5E5;
      }
    }
  }
}